#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
}

#nav li a {
    text-align: center;
    display: block;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #217aa2;
    padding: 5px;
    background: #c0fff4;
}

#nav li a:hover {
    background: #bcebd7; 
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}